<mat-toolbar class="header mat-elevation-z4">










    <span>
        <a routerLink="/">

            <img class="logo" src="assets/img/LogoPetShow.png" alt="logo">

        </a>
    </span>

    <span class="title-group">

        <a routerLink="{{ routUrl }}">
            <i class="material-icons">
                {{ icon }}
            </i>
            {{ title }}


        </a>

    </span>




    <nav class="nav">
        <ul>
            <li><a href="http://marcoscoelho.site/petshow/osmar/">Início</a>
            <li><a href="http://marcoscoelho.site/petshow/osmar/services.html">Nossos Serviços</a>

            <li><a href="http://localhost:4200/">Agendamentos</a>
            <li><a href="http://marcoscoelho.site/petshow/osmar/portfolio-item.html">Portfolio</a>
            <li><a href="http://marcoscoelho.site/petshow/osmar/pricing.html">Preço</a>
            <li><a class="admin" href="http://marcoscoelho.site/petshow/osmar/Tela%20de%20Login/index.html">ADMINISTRADOR</a>
        </ul>
    </nav>

    <script>
        $(".drop")
            .mouseover(function () {
                $(".dropdown").show(300);
            });
        $(".drop")
            .mouseleave(function () {
                $(".dropdown").hide(300);
            });

    </script>
</mat-toolbar>