<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Nós vamos até você!

    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Você não precisa mais trazer seu animal de estimação até um petshop, agora nós vamos até você!<br>
        Preencha o formulário com seus dados e entraremos em contato com você para agendarmos um horário (Atendemos em um raio de 40km)



    </mat-card-subtitle>
    <button (click)="navigateToProductCreate()" mat-raised-button >Agendar Horário</button>
    <!-- <ul>
        <li *myFor="let n em [1, 2, 3]">{{ n }}</li>
    </ul>
-->

</mat-card>