<mat-sidenav-container class="container">
<!--
    <mat-sidenav class="sidenav" mode="side" opened 
    fixedInViewport="true" fixedTopGap="115">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a> 
           
            <a mat-list-item href="http://marcoscoelho.site/petshow/petshow-v3/Tela%20de%20Login/index.html">
                <i class="material-icons">
                    admin_panel_settings
                </i>
              Administrador
            </a> 
        </mat-nav-list>
    </mat-sidenav>  

    -->
    <mat-sidenav-content class="content">


<router-outlet>
    
</router-outlet>

    <!--    <app-product-crud></app-product-crud>-->
    <!--    <app-home></app-home>-->
    
    
    </mat-sidenav-content>
</mat-sidenav-container>